*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: #fdfcfa;
  overscroll-behavior: none;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fdfcfa;
  color: #1a1a1a;
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
  background: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

@keyframes float {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
}
